@media (max-width: 375px) {
  /* CARD FORM STYLING */

.card-form {
  background: var(--Verydark-blue-CardBG);
  margin: 4rem 2rem;
  padding: 1.5rem;
  height: 79vh;
  box-shadow: 0 5px 6px rgba(0, 0, var(--Verydark-blue-MainBG), 0.7);
  border-radius: 1rem;
}
}

@media (min-width: 376px) and (max-width: 500px) {
  /* CARD FORM STYLING */

.card-form {
  background: var(--Verydark-blue-CardBG);
  margin: 6rem 3rem;
  padding: 1.5rem;
  height: 74vh;
  box-shadow: 0 5px 6px rgba(0, 0, var(--Verydark-blue-MainBG), 0.7);
  border-radius: 1rem;
}
}

@media (min-width: 501px) and (max-width: 768px) {
  /* CARD FORM STYLING */

.card-form {
  background: var(--Verydark-blue-CardBG);
  margin: 6rem 4rem;
  padding: 1.5rem;
  height: 74vh;
  box-shadow: 0 5px 6px rgba(0, 0, var(--Verydark-blue-MainBG), 0.7);
  border-radius: 1rem;
}
}

@media (min-width: 769px) and (max-width: 1400px) {
  /* CARD FORM STYLING */

.card-form {
  background: var(--Verydark-blue-CardBG);
  margin: 6rem 20rem;
  padding: 1.5rem;
  height: 74vh;
  box-shadow: 0 5px 6px rgba(0, 0, var(--Verydark-blue-MainBG), 0.7);
  border-radius: 1rem;
}
}